@font-face {
  font-family: 'Circe Rounded';
  src: url(./fonts/CirceRounded-Regular.ttf);
}

* {
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Circe Rounded';
  font-weight: 400;
  font-size: 26px;
  color: #323854;
  width: 100%;
  height: 100%;
  background-color: #fdfdff;
  display: flex;
  justify-content: center;
}

h2 {
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}

h4 {
  font-weight: 400;
  font-size: 16px;
  color: #323854;
  margin: 0;
  margin-bottom: 9px;
}